.content {
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin:0 auto;

	&__title{
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 35px;
		margin-top: 50px;
		font-family: 'Playfair Display', serif;
  				font-weight: 600;       /* Regular weight */
  				font-style: italic;
	}

  .aboutUs {

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

			&__photo{
				background-image: url('../../assets/images/greetings-logo4.png');
  				background-size: cover;
  				background-position: center;
  				background-repeat: no-repeat;
				
				height:400px;
				width: 700px;
				margin-top:50px;
			}

			&__title{
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: center;
				font-size: 25px;
				margin-top:50px;
				font-family: 'Playfair Display', serif;
  				font-weight: 500;       /* Regular weight */
  				font-style: italic;
			}

			&__text{
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: center;
				font-size: 17px;
				margin-top: 25px;
				padding: 0px 250px;
				font-family: 'Poppins', sans-serif;
			}
  	}
}
