@import './fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0; /* Ширина скроллбара */
    height: 0; /* Высота скроллбара */
    background: transparent; /* Прозрачный фон */
  }
}
html {
  scroll-behavior: smooth;
}


