.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1500px;
  min-width: 1500px;
  height: 100px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
	

	&__logo {
		height: 48px;
		
		color: rgb(0, 0, 0);;

		display: flex;
  		align-items: center; 
  		justify-content: center; 
  		
		font-family: 'Outfit', sans-serif;
  		font-weight: 600;
		
  		font-size: 35px;
   }

	&__nav {
		height: 40px;
		width: 500px;
		background-color: transparent;
		display:flex;
	   align-items: center;
	   justify-content: space-between;

		font-family: 'Poppins', sans-serif;
  		
	}

	.nav__link{
		color: rgb(148, 143, 149);
		text-decoration: none;
		font-size: 16px;
		
		transition: color 0.3s ease;

		&:hover {
    		color: #000;
  		}

		&.active { 
    		color: black;
    		font-weight: 600; 
  		}
	}

	.navLink__contact{
			margin-right:90px;
			color: rgb(125, 120, 125);
  			font-weight: 600;


			&:hover {
    				color: #000;
  			}
		}

	
}
